@model List<MedicalClinic.ViewModels.AssignedSymptomDiseaseData>

@{
    ViewBag.Title = "Test result";
}

<h2>Test result</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    if (Model == null)
    {
        <p class="delete_label">@ViewBag.Error</p>
    }
    else
    {
        if (Model.Count() == 0)
        {
    <h3>Congratulations, you are healthy!</h3>
        }
        else
        {
<h3>Based on your 
    @if (Model.Count() == 1)
    { @:symptom 
    }
    else
    { @:symptoms 
    }
 you may suffer from:</h3>

<table>

    @for (int i = 0; i < Model.Count(); ++i)
    {
        var item = Model.ElementAt(i);

        <tr>
            <td>
                Your symptom: <b><text style="text-decoration:underline">@Model[i].Name</text></b>
            </td>
        </tr>
        <tr>
            <td>
                <b>Possible diseases and conditions:</b>
            </td>
        </tr>

        int max = Model[i].Diseases.Count();
        if (max == 0)
        {
            <tr>
                <td>
                    No results found<br />
                    Contact one of our @Html.ActionLink("General specialists", "Index", "Doctor", new { SpecList = "General practitioner" }, null)
                </td>
            </tr>
        }
        <tr><td><ul>
        @for (int j = 0; j < max; ++j)
        {
            <li>@Model[i].Diseases[j].Name

        @if (Model[i].Diseases[j].OtherSymptoms.Count() > 0)
        {
                    @:<br />Other symptoms:
                    <ul>
                        @foreach (var symptom in Model[i].Diseases[j].OtherSymptoms)
                        {
                            <li>@symptom</li>
                        }
                    </ul>      
        }
        </li>
        }
    </ul></td>
        </tr>

        @*<tr>
                <td>Contact one of our @Html.ActionLink(disease.Specialization.DoctorName + "s", "Index", "Specialization", new { id = disease.Specialization.SpecializationId }, null)</td>
            </tr>*@


    }

</table>
        }

    <p>
        @Html.ActionLink("Back to test", "SimpleTest");
    </p>
    }
}